// Vendors
// @import "~bootstrap";

// Imports
@import "src/page_404";
body{
  font-family: 'Inter', sans-serif;
  background: white;
}
.page-home{
  display: grid;
  place-items: center;
  height: 100vh;
  // user-select: none;
}
