@import "pages/404";

.page-home {
  min-height: 100vh;
  background: #efefef;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 20px;
    color: slategray;
  }
  background-image: url('img/logo.png');
  /* background-image: url('img/vite.png'); */
  /* background-image: url('img/vite.webp'); */
}
